* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.Titular__centro {
  text-align: center; }

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: black; }
  body h2 {
    background-color: #faedcd; }

.header {
  background-color: #d4a373;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.56rem; }
  .header__logo {
    max-width: 18.75rem; }
  .header__list {
    display: flex;
    gap: 0.8rem;
    list-style: none; }
  .header__anchor {
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all 0.5s ease-out;
    padding: 0.5rem;
    border-radius: 1rem; }
    .header__anchor:hover, .header__anchor:focus {
      background-color: #a5907e;
      color: #ccd5ae; }

.footer {
  background-color: #d4a373;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  height: 3rem; }
  .footer__botones {
    min-width: 37.50rem;
    display: flex;
    justify-content: space-around; }
    .footer__botones a {
      font-size: 1.25rem;
      width: 1.88rem;
      height: 1.88rem;
      line-height: 1.88rem;
      text-align: center;
      background-color: #a5907e;
      color: white;
      border-radius: 50%;
      border-style: shadow; }

.copy {
  background-color: #d4a373; }

.main {
  background: url("../../img/HERO.jpg") center/cover;
  background-position: bottom;
  height: 46.25rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5rem; }
  .main__Titulo {
    font-size: 3.13rem;
    color: white;
    display: flex;
    justify-content: center; }
  .main__contenido {
    font-size: 1.88rem;
    display: flex;
    align-items: center;
    font-weight: 21.88rem; }
  .main__boton {
    background-color: #faedcd;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    box-shadow: 5px 5px 5px #d4a373; }
  .main__anchor {
    color: black;
    text-decoration: none; }

.Frase {
  height: 10rem;
  display: flex;
  align-items: center; }
  .Frase__texto {
    font-family: 'Noto Serif Malayalam', serif;
    color: white;
    font-size: 1.25rem;
    padding: 1rem; }

.Bio {
  display: grid;
  grid-template-rows: auto;
  gap: 3rem;
  padding: 2.5rem;
  overflow: hidden; }
  .Bio__flex {
    background-color: #faedcd;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px #d4a373; }
  .Bio__reverse {
    flex-direction: row-reverse; }
  .Bio__img {
    padding: 1rem;
    max-width: 40%; }
  .Bio__texto {
    text-align: center;
    padding: 1rem; }

.Proyectos {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding: 3rem; }
  .Proyectos__titulo {
    text-align: center; }
  .Proyectos__col1 {
    background-color: #faedcd;
    border-radius: 2%;
    display: flex;
    flex-direction: column; }
  .Proyectos__col2 {
    background-color: #faedcd;
    border-radius: 2%;
    display: flex;
    flex-direction: column; }
  .Proyectos__col3 {
    background-color: #faedcd;
    border-radius: 2%;
    display: flex;
    flex-direction: column; }
  .Proyectos__col4 {
    background-color: #faedcd;
    border-radius: 2%;
    display: flex;
    flex-direction: column; }
  .Proyectos__col5 {
    background-color: #faedcd;
    border-radius: 2%;
    display: flex;
    flex-direction: column; }
  .Proyectos__col6 {
    background-color: #faedcd;
    border-radius: 2%;
    display: flex;
    flex-direction: column; }
  .Proyectos__texto {
    padding: 0.5rem; }
  .Proyectos__img {
    width: 100%;
    padding: 0.5rem;
    transition: transform .2s; }
    .Proyectos__img:hover {
      transform: scale(1.09); }

.Galeria {
  padding: 0;
  margin: 0; }
  .Galeria div {
    padding: 0; }
  .Galeria__img {
    width: 100%; }
  .Galeria__vid1 {
    width: 50%;
    margin-left: 25%; }

.Contacto__img {
  width: 100%; }

.Formulario {
  color: white; }

@media screen and (max-width: 968px) {
  .header {
    flex-direction: column; }
    .header__nav {
      flex-wrap: wrap; }
  /*INDEX*/
  .main {
    padding-left: 4rem; }
    .main__Titulo {
      font-size: 2.5rem; }
    .main__contenido {
      font-size: 1.3rem; }
  .Frase__texto {
    font-size: 1rem;
    padding: 1.5rem; }
  /*FIN INDEX*/
  footer {
    overflow: hidden; }
  /*BIOGRAFIA*/
  .Bio {
    padding: 2rem;
    padding-bottom: 2rem; }
    .Bio__img {
      padding: 1rem;
      max-width: 50%; }
  /*FIN BIO*/
  /*PROYECTOS*/
  .Proyectos {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem; }
  /*FIN PROYECTOS*/
  /*GALERIA*/
  .Galeria {
    overflow: hidden; }
  /*FIN GALERIA*/ }

@media screen and (max-width: 575px) {
  .header {
    flex-direction: row; }
    .header__logo {
      max-width: 15.75rem; }
    .header__anchor {
      font-size: 1rem; }
  /*INDEX*/
  .main {
    height: 35.25rem;
    padding-left: 1rem; }
    .main__hero {
      padding-left: 2rem;
      padding-right: 1rem;
      height: 25rem;
      background: rgba(255, 255, 255, 0.5); }
    .main__Titulo {
      opacity: 0; }
    .main__contenido {
      font-size: 1.3rem;
      color: black; }
  .Frase {
    height: 15rem; }
  /*FIN INDEX*/
  .footer {
    flex-direction: column;
    height: 4rem;
    align-items: stretch; }
    .footer__botones {
      min-width: 0rem; }
  /*BIOGRAFIA*/
  .Bio__flex {
    flex-direction: column; }
  .Bio__img {
    max-width: 100%; }
  /*FIN BIO*/
  /*PROYECTOS*/
  .Proyectos {
    grid-template-columns: 1fr;
    padding: 1rem; }
  /*FIN PROYECTOS*/
  /*GALERIA*/
  .Galeria__vid1 {
    width: 100%;
    margin-left: 0; }
  /*FIN GALERIA*/ }
