.Bio {
    display: grid;
    grid-template-rows: auto;
    gap: 3rem;
    padding: 2.5rem; 
    overflow: hidden;

    &__flex{
        background-color: $color-claro;
        display: flex;
        align-items: center;
        box-shadow: $box-shadow;
    }

    &__flex-reverse {
        @extend .Bio__flex;
        flex-direction: row-reverse;
    }

    &__img{
        padding: 1rem;
        max-width: 40%;
    }

    &__texto {
    text-align: center;
    padding:1rem;
    }
}